<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

{% include 'partials/nav-bar.html' with active_tab='tab2' %}

<body class="bodyabout">
	<div class="content">
		<h1 class="heading">About</h1>

        <h2>Recent History</h2>

		<p>
            <B>Remote Automation Sensor Surveys</B> was previously used as a small subcontracting corporation for the renewable
            energy sector in Canada, it has since relocated to the United Kingdom (late 2019). RASS is no longer
            used to subcontract for larger companies, but continues to publish articles of
            research and development in various scientific, engineering, and technological disciplines.
		</p>

        <h2>Values</h2>
            <p>
                1) Innovation, at all costs <br>
                2) Drive to create and document<br>
                3) Collaboration and respect to collaborators<br>
                4) Utility of design
            </p>

        <h2>Goal</h2>
            <p>
                To create innovation in technology, and to be a venue for like minded contributors.
            </p>
    </div>

{% endblock %}
</body>


