<!DOCTYPE html>
{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<body class="bodyabout">

	<div class="content">
		<h1 class="heading">
		About
		</h1>
		
		<p>
            <B>Remote Automation Sensor Surveys</B> was previously used as a small subcontracting corporation for the renewable
            energy sector in Canada, it has since relocated to the United Kingdom (late 2019). RASS will no longer be
            used to subcontract for larger companies, but will continue to publish articles of
            research and development in various scientific, engineering, and technological disciplines.
		</p>

        <h3>Values</h3>
            <p>
                1) Innovation, at all costs <br>
                2) Drive to create and document<br>
                3) Collaboration and respect to collaborators<br>
                4) Utility of design
            </p>

        <h4>Goal</h4>
            <p>
                The goal of RASS is to create innovation in technology, and to be a venue for like minded contributors.
            </p>



    </div>
	


{% endblock %}
</body>


