<!DOCTYPE html>
{% extends "base.html" %} 
{% block content %}
{% include 'partials/nav-bar.html' with active_tab='tab4' %}

<body class="bodycontact">
<div class="content">
    <h1 class="heading">Contributors</h1>
        <div id="executivebox">
            <div id="exec1">
                <img id="execpic1" src=" /static/img/portrait1.jpg">
                <div id="exectext1">
                    <h2>Kevin Barbour</h2>
                     <h3>Admin</h3>

                    <p>
                    Kevin is a Graduate of Memorial University of Newfoundland, Joint Major B.Sc degree in Physics and
                    Applied Geophysics. He is a Veteran of the Canadian Navy after five years of service as a Naval
                    Warfare Officer. He has worked in the energy industry for over three years, holds numerous certifications, and loves to work.
                    Kevin spends his free time painting, programming, cycling about England, flying drones, and tech research.
                    </p>
                    <a href = "mailto: kbarbour@rasstech.net">Email</a>
                    <br>
                    <a href="https://www.linkedin.com/in/kevbarbour/">Linkedin</a>
                </div>


            </div>

<!--           <div id="exec2">
                <img id="execpic2" src=" /static/img/portrait2.jpg">
                <h2>Jane Doe</h2>
                <h4>Senior Vice-President</h4>
                <p>Here is a big bio about mr johncvfdbsfga jwmnbsmanbadsfkmjbsadf k asdnbs dfkmjnb </p>
            </div>

            <div id="exec3">
                <img id="execpic3" src=" /static/img/portrait7.jpg">
                <h2>Jonathan Deer</h2>
                <h4>Vice-President</h4>
                <p>Here is a big bio about mr john</p>
            </div>
--!>
        </div>
</div>

</body>
{%endblock%}

