<!DOCTYPE html>
{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> RASS Technical </h3>
                    <p class="text-light">Remote Automation Sensors Surveys &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>


<div id="executivebox">

            <h3>Contributors</h3>

             <div id="exec1">
                <img id="execpic1" src=" /static/img/portrait1.jpg">
                <h2>Kevin Barbour</h2>
                <h4>Admin</h4>
                <p>
                    Kevin is a Graduate of Memorial University of Newfoundland, Joint Major B.Sc degree in Physics and
                    Applied Geophysics. He is a Veteran of the Canadian Navy after five years of service as a Naval
                    Warfare Officer. He has worked in the energy industry for over three years, holds numerous certifications, and loves to work.
                    Kevin spends his free time painting, programming, cycling about England, flying drones, and tech research.
                </p>
                 <H6>Email: kbarbour@rasstech.net</H6>
                 <h7>Linkedin: www.linkedin.com/in/kevbarbour/</h7>
            </div>


        </div>

{%endblock%}

