{% block sidebar %}
		<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
		</style>

		<!-- Sidebar Widgets Column -->
		<div class="col-md-4 float-right ">
		<div class="card my-4">
				<h5 class="card-header">About RASS</h5>
			<div class="card-body">
				<p class="card-text"> <i> I have dissolved my company but kept RASS. You can read about my ongoing projects by following this link! </i>  - Kevin</p>
				<a href="https://djangocentral.com/building-a-blog-application-with-django"
				   class="btn btn-danger">Projects</a>
			</div>
		</div>
		</div>
		{% endblock sidebar %}