{#
{% block sidebar %}
		<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

		</style>

		<!-- Sidebar Widgets Column -->
		<div class="col-md-4 float-right ">
		<div class="card my-4">
				<h5 class="card-header">About RASS</h5>
			<div class="card-body">
				<p class="card-text"> <i> I have dissolved my company but kept RASS. You can read about my ongoing projects by following this link! </i>  - Kevin</p>
				<a href="https://djangocentral.com/building-a-blog-application-with-django"
				   class="btn btn-danger">Projects</a>
			</div>
		</div>
		</div>
		{% endblock sidebar %}#}
.footer {
	height: auto;
	background: #000000;
	color: #FAEBD7;
	width: 100%;
	margin: 0 0 0 0;
	padding:20px 0 20px 0;

}
#footinfo{
	font-size: 12px;
	font-weight: normal;
	padding:10px 10px 10px 10px;
	margin: 20px 20px 20px 20px;
    border: 1px solid darkgray;
}
#linkbar{
    text-align: center;
	font-size: 10px;
	font-weight: normal;
	padding:0 0 0 0;
	margin: 0 0;
}
#copyright {
    width: 45%;
    float: left;
	font-size: 12px;
	font-weight: normal;
	padding:0 0 0 0;
	margin: 0 0 0 10px;

}
#webdesign {

    float: right;
	font-size: 12px;
	font-weight: normal;
    padding:0 0 0 0;
	margin: 0 10px 0 0;
}
.footerbottom {
    width: 100%;
    overflow: hidden;
}