<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<footer class="footer">

<div id="footinfo">
        BTC: 3FC91mYH1krDTkJcV6EpEx9T3edbaYmRGp

</div>

<div id="linkbar">

        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'privacy' %}">Privacy Policy</a> |
        <a href="{% url 'disclaimer' %}">Disclaimer</a> |
        <a href="{% url 'terms' %}">Terms of Use</a> |
        <a href="{% url 'contact' %}">Contact</a>
</div>

<div class="footerbottom"><div id="copyright">
 RASS Technical &copy; 2020
</div>

</div>


</footer>